<div class="header-container">
    <div class="route-header">
        <div class="header-object route-icon">
            <img src="assets/icon-open-trades.svg">
            <img src="assets/icon-open-trades-hover.svg">
        </div>
        <div class="header-object route-icon">
            <img src="assets/icon-all-trades.svg">
            <img src="assets/icon-all-trades-hover.svg">
        </div>
        <div class="header-object route-icon">
            <img src="assets/icon-statistics.svg">
            <img src="assets/icon-statistics-hover.svg">
        </div>
        <div class="header-object route-icon">
            <img src="assets/icon-profile.svg">
            <img src="assets/icon-profile-hover.svg">
        </div>
    </div>
</div>

<!-- <div onclick="alert('test');" class="header-object header-object-hover icon-hamburger">
    <img class='icon-hamburger-img' src="assets/icon-hamburger.svg">
</div> -->

<!-- <div class="header-object portfolio-name">
    <p>{{portfolioName}}</p>
</div> -->




<!-- <div class='header-object header-object-hover icon-person'>
    <img class='icon-person-img' src="assets/icon-person.svg">
</div> -->

  