.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    /* border: 1px solid red; */
}

.header-object {
    height: 60px;
    /* border: 1px solid red; */
    /* width: 60px;
    height: 60px; */
    /* height: 10vh; */
}

.header-object-hover:hover {
    background-color: #414049;
    color: white;
  }

/* .portfolio-name {
    width: 200px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    text-align: center;
} */

.route-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.route-icon {
    color: white;
    padding: 10px;
}

.route-icon img:last-child {
    display: none;
}

.route-icon:hover img:last-child {
    display: block;
}

.route-icon:hover img:first-child {
    display: none;
}


p {
    font-size: 20px;
    color:#E6E1E5;

}

.icon-hamburger{
    position: absolute;
    top: 0px;
    left: 0px;
    transition-duration: 0.4s;

}

.icon-hamburger-img {
    padding: 20px;

}

.icon-person {
    position: absolute; 
    top: 0px;
    right: 0px;

}

.icon-person-img {
    padding: 15px;
}
  