.open-trade-view {
    display: flex;
    flex-flow: column;
    height: 100%; /* child of body height? */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* Header stuff */

.open-trade-header {
    display: flex;
    flex-flow: row;
    border: 1px solid red;
    height: 60px;
    justify-content: space-between;
}

.open-trades-object {
    font-family: Roboto;
    font-style: normal;
    color: #D0BCFF;
    /* border: 1px solid red; */

}

.open-trades-title {
    left: 0;
    margin-top: 5px;
    margin-left: 20px;

}

.add-new-trade {
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(208, 188, 255, 0.11), rgba(208, 188, 255, 0.11)), #1C1B1F;    
    width: 40px;
    height: 40px;
}

.add-new-trade img{
    margin-top: 5px;
    margin-left: 5px;
    width: 30x;
    height: 30px;
}

/* End of Header stuff */

/* List stuff */

.open-trade-list {
    flex: 1 1 auto;
    /* display: flex; */
    /* flex-flow: column; */
    border: 1px solid red;

}

@media only screen and (max-width: 600px) {
    .open-trade-view {
        width: 100%;
    }
  }
